{% extends 'base.html.twig' %}

{% block title %}Modifier une promotion{% endblock %}

{% block body %}
<h3 class="card-title">Modifier une promotion</h3>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-dark" style="margin: 15px 40px" type="submit" value="Modifier" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('promotion_index') }}" class="btn btn-dark">Retour à la liste</a>
        </li>
    </ul>
{% endblock %}
