{% extends 'show.html.twig' %}

{% block title %}Promotion{% endblock %}

{% block titleList %} Promotion {% endblock %}

{% block headTable %}
    <th>Id</th>
    <th>Datedebut</th>
    <th>Datefin</th>
{% endblock %}

{% block bodyTable %}
    <tr>
        <td>{{ promotion.id }}</td>
        <td>{% if promotion.dateDebut %}{{ promotion.dateDebut|date('Y-m-d') }}{% endif %}</td>
        <td>{% if promotion.dateFin %}{{ promotion.dateFin|date('Y-m-d') }}{% endif %}</td>
    </tr>
{% endblock %}

{% block add %}<a href="{{ path('promotion_index') }}" class="btn btn-dark">Retour à la liste</a>{% endblock %}

