{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h3 class="card-title">{% block titleList %} {% endblock %}</h3>

    {% block table %}
        <table class="dataTable table table-striped table-bordered" style="border-bottom: 0px">

            <thead>
            <tr>
                {% block headTable %}

                {% endblock %}

            </tr>
            </thead>

            <tbody style="text-align: center; line-height: 100px">

                {% block bodyTable %}

                {% endblock %}


            </tbody>
        </table>
    {% endblock %}
    <ul style="margin-top: 20px">
        <li>
            {% block add %}<br><a href="{{ path('formation_new') }}" class="btn btn-dark">Créer une nouvelle formation</a>{% endblock %}
        </li>
    </ul>
{% endblock %}