{% extends 'show.html.twig' %}

{% block title %}Utilisateur{% endblock %}

    {% block titleList %} Les détails de {{ user.username }} {% endblock %}
=
{% block headTable %}
    <th>Id</th>
    <th>Username</th>
{% endblock %}

{% block bodyTable %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
    </tr>
{% block bodyTable %}

{% block add %}<a href="{{ path('user_index') }}" class="btn btn-dark">Retour à la liste</a>{% endblock %}

