{% extends 'base.html.twig' %}

{% block title %}Créer une formation{% endblock %}

{% block body %}
    <h2>Créer une formation</h2>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Créer"/>
        {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('formation_index') }}">Retour à la liste</a>
        </li>
    </ul>
{% endblock %}
