{% extends 'base.html.twig' %}

{% block body %}
    <h1>creation d'un évènement </h1>

    {{form_start(form, {'attr':{'enctype':'multipart/form-data'}}) }}
        {{form_widget(form)}}
        <input type="file" name="img[]" multiple="multiple" />
        <input class="btn btn-success" type="submit" value="Créer" />
    {{form_end(form)}}

    <ul>
        <li>
            <a href="{{ path('evenement_index') }}">Retour à la liste</a>
        </li>
    </ul>
{% endblock %}
